/* Google Font Link */
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Poppins:wght@500&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    background-color: #FFFF;
}

/* .carousel-inner img{
    width: 100%;
    height: 100%;
} */


/* Footer Section CSS Starts From Here */

/* footer{
    background-color: #0A0826;
    height: 350px;
    width: 100%;
 }

 .copyright{
    padding-top: 30px;
 }

 .copyright p{
    color: #D9DBE1;
    text-align: center;
    font-size: 14px;
    margin-top: -10px;
 }

 .copyright h2{
    font-size: 25px;
    text-align: center;
    color: white;
 }

 .social-media{
    color: white;
    text-align: center;
    font-size: 25px;
 }

 .social-media a{
    text-decoration: none;
    color: white;
 }

 .fa-facebook,  .fa-instagram, .fa-dribbble, .fa-twitter, .fa-youtube  {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 7px;
    padding-bottom: 7px;
    border-radius: 40%;
    background-color: #201f39;
 }

 .fa-facebook:hover{
    color: #1877F2;
 }

 .fa-instagram:hover{
    color: #E4405F;
 }

 .fa-dribbble:hover{
    color: #EA4C89;
 }

 .fa-twitter:hover{
    color: #1DA1F2;
 }

 .fa-youtube:hover{
    color: #CD201F;
 }

 .google-play-icon img, .app-store-icon{
    width: 150px;
 }

 .app-store-icon{
    margin-top: -20px;
 }

 .google-apple{
    margin-left: 950px;
    margin-top: -130px;
 }

 .footer-div1{
    padding-top: 70px;
    margin-left: -400px;

 } */

 /* .client-2,.client-3, .client-4{
   margin-left: 15px;
 }

 .client-1, .client-2, .client-3, .client-4{
   width: 250px;
 } */

 .toast{
   margin-left: 150px;
 }


 @media only screen and(max-width:576px) {
   .carousel-item img{
      height: 80vh;
      object-fit: cover;
   }


   
 }
